.Loader {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 180px;
  text-align: center;
  margin-left: 45%;
}
.Loader div {
  display: inline-block;
  position: absolute;
  text-align: center;
  left: 8px;
  width: 18px;
  background: rgb(0, 123, 255);
  animation: Loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.Loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.34s;
}
.Loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.24s;
}
.Loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes Loader {
  0% {
    top: 18px;
    height: 100px;
  }
  50%, 100% {
    top: 34px;
    height: 70px;
  }
}
